<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Registro de elemento</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center">Registro de elemento</h1>
                    <div class="card-body">
                        <form th:action="@{/nuevoElemento}" th:object="${Elementos}" method="POST">
                            <div class="form-group">
                                <label>Codigo: </label>
                                <input type="text" name="codigo" th:field="*{codigo}" class="form-control" placeholder="Digite su codigo: " required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Nombre: </label>
                                <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Digite su nombre: " required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Modelo: </label>
                                <input type="text" name="modelo" th:field="*{modelo}" class="form-control" placeholder="Digite su modelo: " required>
                            </div><br>
                            <div class="form-group">
                                <label>Marca: </label>
                                <input type="text" name="marca" th:field="*{marca}" class="form-control" placeholder="Digite su marca: " required>
                            </div><br>
                            <div class="form-group">
                                <label>Valor: </label>
                                <input type="text" name="valor" th:field="*{valor}" class="form-control" placeholder="Digite su valor: " required>
                            </div><br>
                            <div class="box-footer">
                                <button class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>